#ppl {
    height: 33%; 
    width: 100%;
    position: fixed;
    left: 0;
}

#messages {
    height: 33%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 30%; 
}

#message {
    height: 33%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 30%;
}